 .productCard{
    border-radius: 20px;
    overflow: hidden;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: flex;
    flex-direction: column;

    footer{
        margin-top: auto;
    }

    button {
        border:none;
        background-color: #3b82f6;
        color:#eff6ff;
        padding: 0.5rem 2rem;
        border-radius: 3px;
        font-size:1.25rem;
        display: block;
        transition: all 0.1s ease-in;
        margin: 2rem auto 0;
    }

    button:hover {
        background-color: #7dabf5;
        cursor: pointer;
    }

    img{
        width:100%;
        object-fit: cover;
    }
 }

 .price{
   font-size:1.75rem;
   font-weight: 200;
   color:#64748b;
   margin: 0.25rem 0;
 }

 .description{
    font-size: 14px;
    color:#94a3b8;
 }

 .name{
     font-size: 2.5rem;
     font-weight: 800;
 }

 @media screen and (min-width: 768px) {
    .productCard {
        width: calc(50% - 1rem);
    }
 }