 .pageTitle {
   text-align:center;
   margin: 3rem 0 2rem;
   
   h1 {
    font-size: clamp(3rem, 10vw, 6rem);
    font-weight: 800;
    color: rgb(241, 94, 35);
    line-height: 1;
  }

  p {
    font-size: clamp(1rem, 4vw, 2rem);
    font-weight: 600;
    color:#dfb4aa;
  }
 }

 